<mat-sidenav-container class="h-screen surface-container theme-transition">
  <mat-sidenav
    #sidenav
    [mode]="sidenavMode()"
    [opened]="sidenavOpened()"
    (openedChange)="sidenavOpen.set($event)"
    class="flex flex-col h-full w-52 md:w-56 lg:w-60 xl:w-64 border-r border-outline surface-container-high theme-transition"
  >
    <div class="p-4 text-center border-b border-outline">
      <h2 class="text-2xl font-bold text-primary theme-transition">CSI Admin</h2>
    </div>

    <mat-nav-list class="flex flex-col justify-between flex-1">
      <div>
        @for (item of navigationItems; track item.routerLink) {
        <a
          mat-list-item
          [routerLink]="item.routerLink"
          routerLinkActive="!bg-primary-container !text-on-primary-container !border-2 !border-primary !rounded-lg"
          (click)="onNavItemClick()"
        >
          <mat-icon class="mr-4">{{ item.icon }}</mat-icon>
          <span>{{ item.label }}</span>
        </a>
        }
      </div>

      <div class="p-4 border-t border-outline">
        <button mat-stroked-button class="w-full" (click)="onLogout()">
          <mat-icon class="mr-2">exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="fixed top-0 left-0 right-0 z-50 shadow-sm theme-transition">
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>{{ menuIcon() }}</mat-icon>
      </button>
      <h1 class="text-xl font-semibold text-on-surface ml-4 theme-transition">Admin Panel</h1>
      <span class="flex-auto"></span>
      <app-theme-toggle></app-theme-toggle>
      <app-language-selector></app-language-selector>
    </mat-toolbar>
    <main class="p-20 surface-container theme-transition">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
