.pt-serif-regular {
  font-family: 'Inter', 'Manjari', 'Chilanka', 'PT Serif',
    'Rachana', 'Karthika', 'Malayalam Sangam MN', serif;
  font-weight: 400;
  font-style: normal;
}

.pt-serif-bold {
  font-family: 'Inter', 'Manjari', 'Chilanka', 'PT Serif',
    'Rachana', 'Karthika', 'Malayalam Sangam MN', serif;
  font-weight: 700;
  font-style: normal;
}
