.detail-row {
  height: 0;
  min-height: 0;
}

.detail-row td {
  border-bottom-width: 0;
}

mat-row {
  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}

:host ::ng-deep {
  .mat-mdc-table {
    background: transparent;
  }

  .mat-mdc-row {
    transition: background-color 0.2s ease;
  }
}

.highlight-row {
  background-color: var(--md-sys-color-tertiary-container) !important;
  color: var(--md-sys-color-on-tertiary-container) !important;
  transition: background-color 200ms ease;
}

